In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
from sklearn import preprocessing

In [6]:
df=pd.read_csv('student_marks.csv')

In [7]:
df

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,85,76,82,87,91,82,79,85
1,Sophia,F,92,88,90,95,89,88,92,87
2,William,M,78,82,85,88,84,79,81,83
3,Emma,F,91,87,89,94,88,90,87,89
4,Michael,M,83,79,81,85,82,84,80,82
5,Olivia,F,89,85,88,91,87,86,89,85
6,James,M,77,81,84,86,83,80,82,84
7,Ava,F,90,86,89,93,88,87,90,86
8,David,M,84,80,83,87,85,82,84,81
9,Isabella,F,88,84,87,90,86,88,85,88
10,Robert,M,79,83,86,88,84,81,83,85
11,Mia,F,93,89,91,96,90,89,93,88
12,Thomas,M,86,82,85,89,87,83,86,83
13,Charlotte,F,87,83,86,89,85,87,84,87
14,Joseph,M,80,84,87,89,85,82,84,86
15,Amelia,F,94,90,92,97,91,90,94,89
16,Daniel,M,85,81,84,88,86,84,85,82
17,Emily,F,86,82,85,88,84,86,83,86
18,Matthew,M,81,85,88,90,86,83,85,87
19,Harper,F,95,91,93,98,92,91,95,90
20,Andrew,M,87,83,86,90,88,85,87,84
21,Evelyn,F,85,81,84,87,83,85,82,85
22,Ryan,M,82,86,89,91,87,84,86,88
23,Sarah,F,96,92,94,99,93,92,96,91
24,Eric,M,88,84,87,91,89,86,88,85
25,Linda,F,84,80,83,86,82,84,81,84
26,Steven,M,83,87,90,92,88,85,87,89
27,Mary,F,97,93,95,100,94,93,97,92
28,Kevin,M,89,85,88,92,90,87,89,86
29,Patricia,F,83,79,82,85,81,83,80,83
30,Brian,M,84,88,91,93,89,86,88,90
31,Barbara,F,98,94,96,99,95,94,98,93
32,George,M,90,86,89,93,91,88,90,87
33,Elizabeth,F,82,78,81,84,80,82,79,82
34,Suresh,M,85,89,92,94,90,87,89,91
35,Jessica,F,99,95,97,98,96,95,99,94
36,Ramesh,M,91,87,90,94,92,89,91,88
37,Jennifer,F,81,77,80,83,79,81,78,81
38,Christopher,M,86,90,93,95,91,88,90,92
39,Abigail,F,100,96,98,97,97,96,100,95
40,Richard,M,92,88,91,95,93,90,92,89
41,Rachel,F,80,76,79,82,78,80,77,80
42,Timothy,M,87,91,94,96,92,89,91,93
43,Victoria,F,99,95,97,96,96,95,99,94
44,Charles,M,93,89,92,96,94,91,93,90
45,Catherine,F,79,75,78,81,77,79,76,79

In [8]:
df.index

RangeIndex(start=0, stop=46, step=1)

In [9]:
df.columns

Index(['Name', 'Gender', 'Maths', 'Physics', 'Chemistry', 'English', 'Biology',
       'Economics', 'History', 'Civics'],
      dtype='object')

In [10]:
df.shape

(46, 10)

In [11]:
df.dtypes

Name         object
Gender       object
Maths         int64
Physics       int64
Chemistry     int64
English       int64
Biology       int64
Economics     int64
History       int64
Civics        int64
dtype: object

In [12]:
df.columns.values

array(['Name', 'Gender', 'Maths', 'Physics', 'Chemistry', 'English',
       'Biology', 'Economics', 'History', 'Civics'], dtype=object)

In [13]:
df.describe()

,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,87.456522,85.260870,88.065217,91.239130,87.782609,86.434783,87.478261,86.913043
std,6.087169,5.397262,5.039410,4.899818,4.952723,4.415388,6.288399,4.004587
min,77.000000,75.000000,78.000000,81.000000,77.000000,79.000000,76.000000,79.000000
25%,83.000000,81.250000,84.250000,88.000000,84.250000,83.000000,83.000000,84.000000
50%,86.500000,85.000000,88.000000,91.000000,88.000000,86.000000,87.000000,87.000000
75%,91.750000,89.000000,91.750000,95.000000,91.000000,89.000000,91.750000,89.750000
max,100.000000,96.000000,98.000000,100.000000,97.000000,96.000000,100.000000,95.000000

In [14]:
df['Maths']

0      85
1      92
2      78
3      91
4      83
5      89
6      77
7      90
8      84
9      88
10     79
11     93
12     86
13     87
14     80
15     94
16     85
17     86
18     81
19     95
20     87
21     85
22     82
23     96
24     88
25     84
26     83
27     97
28     89
29     83
30     84
31     98
32     90
33     82
34     85
35     99
36     91
37     81
38     86
39    100
40     92
41     80
42     87
43     99
44     93
45     79
Name: Maths, dtype: int64

In [15]:
df.sort_index(axis=1,ascending=False)

,Physics,Name,Maths,History,Gender,English,Economics,Civics,Chemistry,Biology
0,76,John,85,79,M,87,82,85,82,91
1,88,Sophia,92,92,F,95,88,87,90,89
2,82,William,78,81,M,88,79,83,85,84
3,87,Emma,91,87,F,94,90,89,89,88
4,79,Michael,83,80,M,85,84,82,81,82
5,85,Olivia,89,89,F,91,86,85,88,87
6,81,James,77,82,M,86,80,84,84,83
7,86,Ava,90,90,F,93,87,86,89,88
8,80,David,84,84,M,87,82,81,83,85
9,84,Isabella,88,85,F,90,88,88,87,86
10,83,Robert,79,83,M,88,81,85,86,84
11,89,Mia,93,93,F,96,89,88,91,90
12,82,Thomas,86,86,M,89,83,83,85,87
13,83,Charlotte,87,84,F,89,87,87,86,85
14,84,Joseph,80,84,M,89,82,86,87,85
15,90,Amelia,94,94,F,97,90,89,92,91
16,81,Daniel,85,85,M,88,84,82,84,86
17,82,Emily,86,83,F,88,86,86,85,84
18,85,Matthew,81,85,M,90,83,87,88,86
19,91,Harper,95,95,F,98,91,90,93,92
20,83,Andrew,87,87,M,90,85,84,86,88
21,81,Evelyn,85,82,F,87,85,85,84,83
22,86,Ryan,82,86,M,91,84,88,89,87
23,92,Sarah,96,96,F,99,92,91,94,93
24,84,Eric,88,88,M,91,86,85,87,89
25,80,Linda,84,81,F,86,84,84,83,82
26,87,Steven,83,87,M,92,85,89,90,88
27,93,Mary,97,97,F,100,93,92,95,94
28,85,Kevin,89,89,M,92,87,86,88,90
29,79,Patricia,83,80,F,85,83,83,82,81
30,88,Brian,84,88,M,93,86,90,91,89
31,94,Barbara,98,98,F,99,94,93,96,95
32,86,George,90,90,M,93,88,87,89,91
33,78,Elizabeth,82,79,F,84,82,82,81,80
34,89,Suresh,85,89,M,94,87,91,92,90
35,95,Jessica,99,99,F,98,95,94,97,96
36,87,Ramesh,91,91,M,94,89,88,90,92
37,77,Jennifer,81,78,F,83,81,81,80,79
38,90,Christopher,86,90,M,95,88,92,93,91
39,96,Abigail,100,100,F,97,96,95,98,97
40,88,Richard,92,92,M,95,90,89,91,93
41,76,Rachel,80,77,F,82,80,80,79,78
42,91,Timothy,87,91,M,96,89,93,94,92
43,95,Victoria,99,99,F,96,95,94,97,96
44,89,Charles,93,93,M,96,91,90,92,94
45,75,Catherine,79,76,F,81,79,79,78,77

In [16]:
df.sort_values(by='Gender')

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
45,Catherine,F,79,75,78,81,77,79,76,79
27,Mary,F,97,93,95,100,94,93,97,92
31,Barbara,F,98,94,96,99,95,94,98,93
25,Linda,F,84,80,83,86,82,84,81,84
23,Sarah,F,96,92,94,99,93,92,96,91
33,Elizabeth,F,82,78,81,84,80,82,79,82
21,Evelyn,F,85,81,84,87,83,85,82,85
19,Harper,F,95,91,93,98,92,91,95,90
35,Jessica,F,99,95,97,98,96,95,99,94
17,Emily,F,86,82,85,88,84,86,83,86
15,Amelia,F,94,90,92,97,91,90,94,89
13,Charlotte,F,87,83,86,89,85,87,84,87
37,Jennifer,F,81,77,80,83,79,81,78,81
11,Mia,F,93,89,91,96,90,89,93,88
1,Sophia,F,92,88,90,95,89,88,92,87
43,Victoria,F,99,95,97,96,96,95,99,94
3,Emma,F,91,87,89,94,88,90,87,89
5,Olivia,F,89,85,88,91,87,86,89,85
7,Ava,F,90,86,89,93,88,87,90,86
41,Rachel,F,80,76,79,82,78,80,77,80
9,Isabella,F,88,84,87,90,86,88,85,88
39,Abigail,F,100,96,98,97,97,96,100,95
29,Patricia,F,83,79,82,85,81,83,80,83
34,Suresh,M,85,89,92,94,90,87,89,91
38,Christopher,M,86,90,93,95,91,88,90,92
42,Timothy,M,87,91,94,96,92,89,91,93
32,George,M,90,86,89,93,91,88,90,87
36,Ramesh,M,91,87,90,94,92,89,91,88
30,Brian,M,84,88,91,93,89,86,88,90
40,Richard,M,92,88,91,95,93,90,92,89
0,John,M,85,76,82,87,91,82,79,85
26,Steven,M,83,87,90,92,88,85,87,89
24,Eric,M,88,84,87,91,89,86,88,85
44,Charles,M,93,89,92,96,94,91,93,90
20,Andrew,M,87,83,86,90,88,85,87,84
18,Matthew,M,81,85,88,90,86,83,85,87
16,Daniel,M,85,81,84,88,86,84,85,82
14,Joseph,M,80,84,87,89,85,82,84,86
12,Thomas,M,86,82,85,89,87,83,86,83
10,Robert,M,79,83,86,88,84,81,83,85
8,David,M,84,80,83,87,85,82,84,81
6,James,M,77,81,84,86,83,80,82,84
4,Michael,M,83,79,81,85,82,84,80,82
2,William,M,78,82,85,88,84,79,81,83
28,Kevin,M,89,85,88,92,90,87,89,86
22,Ryan,M,82,86,89,91,87,84,86,88

In [17]:
df.iloc[:10,:]

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,85,76,82,87,91,82,79,85
1,Sophia,F,92,88,90,95,89,88,92,87
2,William,M,78,82,85,88,84,79,81,83
3,Emma,F,91,87,89,94,88,90,87,89
4,Michael,M,83,79,81,85,82,84,80,82
5,Olivia,F,89,85,88,91,87,86,89,85
6,James,M,77,81,84,86,83,80,82,84
7,Ava,F,90,86,89,93,88,87,90,86
8,David,M,84,80,83,87,85,82,84,81
9,Isabella,F,88,84,87,90,86,88,85,88

In [18]:
df.iloc[:,:10]

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,85,76,82,87,91,82,79,85
1,Sophia,F,92,88,90,95,89,88,92,87
2,William,M,78,82,85,88,84,79,81,83
3,Emma,F,91,87,89,94,88,90,87,89
4,Michael,M,83,79,81,85,82,84,80,82
5,Olivia,F,89,85,88,91,87,86,89,85
6,James,M,77,81,84,86,83,80,82,84
7,Ava,F,90,86,89,93,88,87,90,86
8,David,M,84,80,83,87,85,82,84,81
9,Isabella,F,88,84,87,90,86,88,85,88
10,Robert,M,79,83,86,88,84,81,83,85
11,Mia,F,93,89,91,96,90,89,93,88
12,Thomas,M,86,82,85,89,87,83,86,83
13,Charlotte,F,87,83,86,89,85,87,84,87
14,Joseph,M,80,84,87,89,85,82,84,86
15,Amelia,F,94,90,92,97,91,90,94,89
16,Daniel,M,85,81,84,88,86,84,85,82
17,Emily,F,86,82,85,88,84,86,83,86
18,Matthew,M,81,85,88,90,86,83,85,87
19,Harper,F,95,91,93,98,92,91,95,90
20,Andrew,M,87,83,86,90,88,85,87,84
21,Evelyn,F,85,81,84,87,83,85,82,85
22,Ryan,M,82,86,89,91,87,84,86,88
23,Sarah,F,96,92,94,99,93,92,96,91
24,Eric,M,88,84,87,91,89,86,88,85
25,Linda,F,84,80,83,86,82,84,81,84
26,Steven,M,83,87,90,92,88,85,87,89
27,Mary,F,97,93,95,100,94,93,97,92
28,Kevin,M,89,85,88,92,90,87,89,86
29,Patricia,F,83,79,82,85,81,83,80,83
30,Brian,M,84,88,91,93,89,86,88,90
31,Barbara,F,98,94,96,99,95,94,98,93
32,George,M,90,86,89,93,91,88,90,87
33,Elizabeth,F,82,78,81,84,80,82,79,82
34,Suresh,M,85,89,92,94,90,87,89,91
35,Jessica,F,99,95,97,98,96,95,99,94
36,Ramesh,M,91,87,90,94,92,89,91,88
37,Jennifer,F,81,77,80,83,79,81,78,81
38,Christopher,M,86,90,93,95,91,88,90,92
39,Abigail,F,100,96,98,97,97,96,100,95
40,Richard,M,92,88,91,95,93,90,92,89
41,Rachel,F,80,76,79,82,78,80,77,80
42,Timothy,M,87,91,94,96,92,89,91,93
43,Victoria,F,99,95,97,96,96,95,99,94
44,Charles,M,93,89,92,96,94,91,93,90
45,Catherine,F,79,75,78,81,77,79,76,79

In [19]:
df.iloc[3:5,0:2]

      Name Gender
3     Emma      F
4  Michael      M

In [20]:
df[df.columns[2:4]].iloc[5:10]

   Maths  Physics
5     89       85
6     77       81
7     90       86
8     84       80
9     88       84

In [21]:
df.isnull()

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False

In [22]:
df.isnull().any()

Name         False
Gender       False
Maths        False
Physics      False
Chemistry    False
English      False
Biology      False
Economics    False
History      False
Civics       False
dtype: bool

In [23]:
df.isnull().sum()

Name         0
Gender       0
Maths        0
Physics      0
Chemistry    0
English      0
Biology      0
Economics    0
History      0
Civics       0
dtype: int64

In [24]:
df.isnull().sum(axis=1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
dtype: int64

In [25]:
df.isna().sum()

Name         0
Gender       0
Maths        0
Physics      0
Chemistry    0
English      0
Biology      0
Economics    0
History      0
Civics       0
dtype: int64

In [26]:
grouped = df.groupby(['Name', 'Gender'])
grouped.head()

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,85,76,82,87,91,82,79,85
1,Sophia,F,92,88,90,95,89,88,92,87
2,William,M,78,82,85,88,84,79,81,83
3,Emma,F,91,87,89,94,88,90,87,89
4,Michael,M,83,79,81,85,82,84,80,82
5,Olivia,F,89,85,88,91,87,86,89,85
6,James,M,77,81,84,86,83,80,82,84
7,Ava,F,90,86,89,93,88,87,90,86
8,David,M,84,80,83,87,85,82,84,81
9,Isabella,F,88,84,87,90,86,88,85,88
10,Robert,M,79,83,86,88,84,81,83,85
11,Mia,F,93,89,91,96,90,89,93,88
12,Thomas,M,86,82,85,89,87,83,86,83
13,Charlotte,F,87,83,86,89,85,87,84,87
14,Joseph,M,80,84,87,89,85,82,84,86
15,Amelia,F,94,90,92,97,91,90,94,89
16,Daniel,M,85,81,84,88,86,84,85,82
17,Emily,F,86,82,85,88,84,86,83,86
18,Matthew,M,81,85,88,90,86,83,85,87
19,Harper,F,95,91,93,98,92,91,95,90
20,Andrew,M,87,83,86,90,88,85,87,84
21,Evelyn,F,85,81,84,87,83,85,82,85
22,Ryan,M,82,86,89,91,87,84,86,88
23,Sarah,F,96,92,94,99,93,92,96,91
24,Eric,M,88,84,87,91,89,86,88,85
25,Linda,F,84,80,83,86,82,84,81,84
26,Steven,M,83,87,90,92,88,85,87,89
27,Mary,F,97,93,95,100,94,93,97,92
28,Kevin,M,89,85,88,92,90,87,89,86
29,Patricia,F,83,79,82,85,81,83,80,83
30,Brian,M,84,88,91,93,89,86,88,90
31,Barbara,F,98,94,96,99,95,94,98,93
32,George,M,90,86,89,93,91,88,90,87
33,Elizabeth,F,82,78,81,84,80,82,79,82
34,Suresh,M,85,89,92,94,90,87,89,91
35,Jessica,F,99,95,97,98,96,95,99,94
36,Ramesh,M,91,87,90,94,92,89,91,88
37,Jennifer,F,81,77,80,83,79,81,78,81
38,Christopher,M,86,90,93,95,91,88,90,92
39,Abigail,F,100,96,98,97,97,96,100,95
40,Richard,M,92,88,91,95,93,90,92,89
41,Rachel,F,80,76,79,82,78,80,77,80
42,Timothy,M,87,91,94,96,92,89,91,93
43,Victoria,F,99,95,97,96,96,95,99,94
44,Charles,M,93,89,92,96,94,91,93,90
45,Catherine,F,79,75,78,81,77,79,76,79

In [27]:
minmax=preprocessing.MinMaxScaler()

In [28]:
X = df[['Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics']]

In [29]:
X_scaled = minmax.fit_transform(X)

In [30]:
X_scaled

array([[0.34782609, 0.04761905, 0.2       , 0.31578947, 0.7       ,
        0.17647059, 0.125     , 0.375     ],
       [0.65217391, 0.61904762, 0.6       , 0.73684211, 0.6       ,
        0.52941176, 0.66666667, 0.5       ],
       [0.04347826, 0.33333333, 0.35      , 0.36842105, 0.35      ,
        0.        , 0.20833333, 0.25      ],
       [0.60869565, 0.57142857, 0.55      , 0.68421053, 0.55      ,
        0.64705882, 0.45833333, 0.625     ],
       [0.26086957, 0.19047619, 0.15      , 0.21052632, 0.25      ,
        0.29411765, 0.16666667, 0.1875    ],
       [0.52173913, 0.47619048, 0.5       , 0.52631579, 0.5       ,
        0.41176471, 0.54166667, 0.375     ],
       [0.        , 0.28571429, 0.3       , 0.26315789, 0.3       ,
        0.05882353, 0.25      , 0.3125    ],
       [0.56521739, 0.52380952, 0.55      , 0.63157895, 0.55      ,
        0.47058824, 0.58333333, 0.4375    ],
       [0.30434783, 0.23809524, 0.25      , 0.31578947, 0.4       ,
        0.17647059, 0.33333333, 0.125     ],
       [0.47826087, 0.42857143, 0.45      , 0.47368421, 0.45      ,
        0.52941176, 0.375     , 0.5625    ],
       [0.08695652, 0.38095238, 0.4       , 0.36842105, 0.35      ,
        0.11764706, 0.29166667, 0.375     ],
       [0.69565217, 0.66666667, 0.65      , 0.78947368, 0.65      ,
        0.58823529, 0.70833333, 0.5625    ],
       [0.39130435, 0.33333333, 0.35      , 0.42105263, 0.5       ,
        0.23529412, 0.41666667, 0.25      ],
       [0.43478261, 0.38095238, 0.4       , 0.42105263, 0.4       ,
        0.47058824, 0.33333333, 0.5       ],
       [0.13043478, 0.42857143, 0.45      , 0.42105263, 0.4       ,
        0.17647059, 0.33333333, 0.4375    ],
       [0.73913043, 0.71428571, 0.7       , 0.84210526, 0.7       ,
        0.64705882, 0.75      , 0.625     ],
       [0.34782609, 0.28571429, 0.3       , 0.36842105, 0.45      ,
        0.29411765, 0.375     , 0.1875    ],
       [0.39130435, 0.33333333, 0.35      , 0.36842105, 0.35      ,
        0.41176471, 0.29166667, 0.4375    ],
       [0.17391304, 0.47619048, 0.5       , 0.47368421, 0.45      ,
        0.23529412, 0.375     , 0.5       ],
       [0.7826087 , 0.76190476, 0.75      , 0.89473684, 0.75      ,
        0.70588235, 0.79166667, 0.6875    ],
       [0.43478261, 0.38095238, 0.4       , 0.47368421, 0.55      ,
        0.35294118, 0.45833333, 0.3125    ],
       [0.34782609, 0.28571429, 0.3       , 0.31578947, 0.3       ,
        0.35294118, 0.25      , 0.375     ],
       [0.2173913 , 0.52380952, 0.55      , 0.52631579, 0.5       ,
        0.29411765, 0.41666667, 0.5625    ],
       [0.82608696, 0.80952381, 0.8       , 0.94736842, 0.8       ,
        0.76470588, 0.83333333, 0.75      ],
       [0.47826087, 0.42857143, 0.45      , 0.52631579, 0.6       ,
        0.41176471, 0.5       , 0.375     ],
       [0.30434783, 0.23809524, 0.25      , 0.26315789, 0.25      ,
        0.29411765, 0.20833333, 0.3125    ],
       [0.26086957, 0.57142857, 0.6       , 0.57894737, 0.55      ,
        0.35294118, 0.45833333, 0.625     ],
       [0.86956522, 0.85714286, 0.85      , 1.        , 0.85      ,
        0.82352941, 0.875     , 0.8125    ],
       [0.52173913, 0.47619048, 0.5       , 0.57894737, 0.65      ,
        0.47058824, 0.54166667, 0.4375    ],
       [0.26086957, 0.19047619, 0.2       , 0.21052632, 0.2       ,
        0.23529412, 0.16666667, 0.25      ],
       [0.30434783, 0.61904762, 0.65      , 0.63157895, 0.6       ,
        0.41176471, 0.5       , 0.6875    ],
       [0.91304348, 0.9047619 , 0.9       , 0.94736842, 0.9       ,
        0.88235294, 0.91666667, 0.875     ],
       [0.56521739, 0.52380952, 0.55      , 0.63157895, 0.7       ,
        0.52941176, 0.58333333, 0.5       ],
       [0.2173913 , 0.14285714, 0.15      , 0.15789474, 0.15      ,
        0.17647059, 0.125     , 0.1875    ],
       [0.34782609, 0.66666667, 0.7       , 0.68421053, 0.65      ,
        0.47058824, 0.54166667, 0.75      ],
       [0.95652174, 0.95238095, 0.95      , 0.89473684, 0.95      ,
        0.94117647, 0.95833333, 0.9375    ],
       [0.60869565, 0.57142857, 0.6       , 0.68421053, 0.75      ,
        0.58823529, 0.625     , 0.5625    ],
       [0.17391304, 0.0952381 , 0.1       , 0.10526316, 0.1       ,
        0.11764706, 0.08333333, 0.125     ],
       [0.39130435, 0.71428571, 0.75      , 0.73684211, 0.7       ,
        0.52941176, 0.58333333, 0.8125    ],
       [1.        , 1.        , 1.        , 0.84210526, 1.        ,
        1.        , 1.        , 1.        ],
       [0.65217391, 0.61904762, 0.65      , 0.73684211, 0.8       ,
        0.64705882, 0.66666667, 0.625     ],
       [0.13043478, 0.04761905, 0.05      , 0.05263158, 0.05      ,
        0.05882353, 0.04166667, 0.0625    ],
       [0.43478261, 0.76190476, 0.8       , 0.78947368, 0.75      ,
        0.58823529, 0.625     , 0.875     ],
       [0.95652174, 0.95238095, 0.95      , 0.78947368, 0.95      ,
        0.94117647, 0.95833333, 0.9375    ],
       [0.69565217, 0.66666667, 0.7       , 0.78947368, 0.85      ,
        0.70588235, 0.70833333, 0.6875    ],
       [0.08695652, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ]])

In [31]:
df_normalized=pd.DataFrame(X_scaled)

In [32]:
df_normalized

           0         1     2         3     4         5         6       7
0   0.347826  0.047619  0.20  0.315789  0.70  0.176471  0.125000  0.3750
1   0.652174  0.619048  0.60  0.736842  0.60  0.529412  0.666667  0.5000
2   0.043478  0.333333  0.35  0.368421  0.35  0.000000  0.208333  0.2500
3   0.608696  0.571429  0.55  0.684211  0.55  0.647059  0.458333  0.6250
4   0.260870  0.190476  0.15  0.210526  0.25  0.294118  0.166667  0.1875
5   0.521739  0.476190  0.50  0.526316  0.50  0.411765  0.541667  0.3750
6   0.000000  0.285714  0.30  0.263158  0.30  0.058824  0.250000  0.3125
7   0.565217  0.523810  0.55  0.631579  0.55  0.470588  0.583333  0.4375
8   0.304348  0.238095  0.25  0.315789  0.40  0.176471  0.333333  0.1250
9   0.478261  0.428571  0.45  0.473684  0.45  0.529412  0.375000  0.5625
10  0.086957  0.380952  0.40  0.368421  0.35  0.117647  0.291667  0.3750
11  0.695652  0.666667  0.65  0.789474  0.65  0.588235  0.708333  0.5625
12  0.391304  0.333333  0.35  0.421053  0.50  0.235294  0.416667  0.2500
13  0.434783  0.380952  0.40  0.421053  0.40  0.470588  0.333333  0.5000
14  0.130435  0.428571  0.45  0.421053  0.40  0.176471  0.333333  0.4375
15  0.739130  0.714286  0.70  0.842105  0.70  0.647059  0.750000  0.6250
16  0.347826  0.285714  0.30  0.368421  0.45  0.294118  0.375000  0.1875
17  0.391304  0.333333  0.35  0.368421  0.35  0.411765  0.291667  0.4375
18  0.173913  0.476190  0.50  0.473684  0.45  0.235294  0.375000  0.5000
19  0.782609  0.761905  0.75  0.894737  0.75  0.705882  0.791667  0.6875
20  0.434783  0.380952  0.40  0.473684  0.55  0.352941  0.458333  0.3125
21  0.347826  0.285714  0.30  0.315789  0.30  0.352941  0.250000  0.3750
22  0.217391  0.523810  0.55  0.526316  0.50  0.294118  0.416667  0.5625
23  0.826087  0.809524  0.80  0.947368  0.80  0.764706  0.833333  0.7500
24  0.478261  0.428571  0.45  0.526316  0.60  0.411765  0.500000  0.3750
25  0.304348  0.238095  0.25  0.263158  0.25  0.294118  0.208333  0.3125
26  0.260870  0.571429  0.60  0.578947  0.55  0.352941  0.458333  0.6250
27  0.869565  0.857143  0.85  1.000000  0.85  0.823529  0.875000  0.8125
28  0.521739  0.476190  0.50  0.578947  0.65  0.470588  0.541667  0.4375
29  0.260870  0.190476  0.20  0.210526  0.20  0.235294  0.166667  0.2500
30  0.304348  0.619048  0.65  0.631579  0.60  0.411765  0.500000  0.6875
31  0.913043  0.904762  0.90  0.947368  0.90  0.882353  0.916667  0.8750
32  0.565217  0.523810  0.55  0.631579  0.70  0.529412  0.583333  0.5000
33  0.217391  0.142857  0.15  0.157895  0.15  0.176471  0.125000  0.1875
34  0.347826  0.666667  0.70  0.684211  0.65  0.470588  0.541667  0.7500
35  0.956522  0.952381  0.95  0.894737  0.95  0.941176  0.958333  0.9375
36  0.608696  0.571429  0.60  0.684211  0.75  0.588235  0.625000  0.5625
37  0.173913  0.095238  0.10  0.105263  0.10  0.117647  0.083333  0.1250
38  0.391304  0.714286  0.75  0.736842  0.70  0.529412  0.583333  0.8125
39  1.000000  1.000000  1.00  0.842105  1.00  1.000000  1.000000  1.0000
40  0.652174  0.619048  0.65  0.736842  0.80  0.647059  0.666667  0.6250
41  0.130435  0.047619  0.05  0.052632  0.05  0.058824  0.041667  0.0625
42  0.434783  0.761905  0.80  0.789474  0.75  0.588235  0.625000  0.8750
43  0.956522  0.952381  0.95  0.789474  0.95  0.941176  0.958333  0.9375
44  0.695652  0.666667  0.70  0.789474  0.85  0.705882  0.708333  0.6875
45  0.086957  0.000000  0.00  0.000000  0.00  0.000000  0.000000  0.0000

In [33]:
df['Maths'].unique()

array([ 85,  92,  78,  91,  83,  89,  77,  90,  84,  88,  79,  93,  86,
        87,  80,  94,  81,  95,  82,  96,  97,  98,  99, 100], dtype=int64)

In [34]:
label_encoder=preprocessing.LabelEncoder()

In [35]:
df['Gender']=label_encoder.fit_transform(df['Gender'])

In [36]:
df

,Name,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,1,85,76,82,87,91,82,79,85
1,Sophia,0,92,88,90,95,89,88,92,87
2,William,1,78,82,85,88,84,79,81,83
3,Emma,0,91,87,89,94,88,90,87,89
4,Michael,1,83,79,81,85,82,84,80,82
5,Olivia,0,89,85,88,91,87,86,89,85
6,James,1,77,81,84,86,83,80,82,84
7,Ava,0,90,86,89,93,88,87,90,86
8,David,1,84,80,83,87,85,82,84,81
9,Isabella,0,88,84,87,90,86,88,85,88
10,Robert,1,79,83,86,88,84,81,83,85
11,Mia,0,93,89,91,96,90,89,93,88
12,Thomas,1,86,82,85,89,87,83,86,83
13,Charlotte,0,87,83,86,89,85,87,84,87
14,Joseph,1,80,84,87,89,85,82,84,86
15,Amelia,0,94,90,92,97,91,90,94,89
16,Daniel,1,85,81,84,88,86,84,85,82
17,Emily,0,86,82,85,88,84,86,83,86
18,Matthew,1,81,85,88,90,86,83,85,87
19,Harper,0,95,91,93,98,92,91,95,90
20,Andrew,1,87,83,86,90,88,85,87,84
21,Evelyn,0,85,81,84,87,83,85,82,85
22,Ryan,1,82,86,89,91,87,84,86,88
23,Sarah,0,96,92,94,99,93,92,96,91
24,Eric,1,88,84,87,91,89,86,88,85
25,Linda,0,84,80,83,86,82,84,81,84
26,Steven,1,83,87,90,92,88,85,87,89
27,Mary,0,97,93,95,100,94,93,97,92
28,Kevin,1,89,85,88,92,90,87,89,86
29,Patricia,0,83,79,82,85,81,83,80,83
30,Brian,1,84,88,91,93,89,86,88,90
31,Barbara,0,98,94,96,99,95,94,98,93
32,George,1,90,86,89,93,91,88,90,87
33,Elizabeth,0,82,78,81,84,80,82,79,82
34,Suresh,1,85,89,92,94,90,87,89,91
35,Jessica,0,99,95,97,98,96,95,99,94
36,Ramesh,1,91,87,90,94,92,89,91,88
37,Jennifer,0,81,77,80,83,79,81,78,81
38,Christopher,1,86,90,93,95,91,88,90,92
39,Abigail,0,100,96,98,97,97,96,100,95
40,Richard,1,92,88,91,95,93,90,92,89
41,Rachel,0,80,76,79,82,78,80,77,80
42,Timothy,1,87,91,94,96,92,89,91,93
43,Victoria,0,99,95,97,96,96,95,99,94
44,Charles,1,93,89,92,96,94,91,93,90
45,Catherine,0,79,75,78,81,77,79,76,79

In [37]:
df['Maths'].unique()

array([ 85,  92,  78,  91,  83,  89,  77,  90,  84,  88,  79,  93,  86,
        87,  80,  94,  81,  95,  82,  96,  97,  98,  99, 100], dtype=int64)

In [38]:
one_data = pd.get_dummies(df,prefix='Maths',columns=['Maths'],drop_first=True)

In [39]:
drop_first=True

In [40]:
one_data

,Name,Gender,Physics,Chemistry,English,Biology,Economics,History,Civics,Maths_78,...,Maths_91,Maths_92,Maths_93,Maths_94,Maths_95,Maths_96,Maths_97,Maths_98,Maths_99,Maths_100
0,John,1,76,82,87,91,82,79,85,0,...,0,0,0,0,0,0,0,0,0,0
1,Sophia,0,88,90,95,89,88,92,87,0,...,0,1,0,0,0,0,0,0,0,0
2,William,1,82,85,88,84,79,81,83,1,...,0,0,0,0,0,0,0,0,0,0
3,Emma,0,87,89,94,88,90,87,89,0,...,1,0,0,0,0,0,0,0,0,0
4,Michael,1,79,81,85,82,84,80,82,0,...,0,0,0,0,0,0,0,0,0,0
5,Olivia,0,85,88,91,87,86,89,85,0,...,0,0,0,0,0,0,0,0,0,0
6,James,1,81,84,86,83,80,82,84,0,...,0,0,0,0,0,0,0,0,0,0
7,Ava,0,86,89,93,88,87,90,86,0,...,0,0,0,0,0,0,0,0,0,0
8,David,1,80,83,87,85,82,84,81,0,...,0,0,0,0,0,0,0,0,0,0
9,Isabella,0,84,87,90,86,88,85,88,0,...,0,0,0,0,0,0,0,0,0,0
10,Robert,1,83,86,88,84,81,83,85,0,...,0,0,0,0,0,0,0,0,0,0
11,Mia,0,89,91,96,90,89,93,88,0,...,0,0,1,0,0,0,0,0,0,0
12,Thomas,1,82,85,89,87,83,86,83,0,...,0,0,0,0,0,0,0,0,0,0
13,Charlotte,0,83,86,89,85,87,84,87,0,...,0,0,0,0,0,0,0,0,0,0
14,Joseph,1,84,87,89,85,82,84,86,0,...,0,0,0,0,0,0,0,0,0,0
15,Amelia,0,90,92,97,91,90,94,89,0,...,0,0,0,1,0,0,0,0,0,0
16,Daniel,1,81,84,88,86,84,85,82,0,...,0,0,0,0,0,0,0,0,0,0
17,Emily,0,82,85,88,84,86,83,86,0,...,0,0,0,0,0,0,0,0,0,0
18,Matthew,1,85,88,90,86,83,85,87,0,...,0,0,0,0,0,0,0,0,0,0
19,Harper,0,91,93,98,92,91,95,90,0,...,0,0,0,0,1,0,0,0,0,0
20,Andrew,1,83,86,90,88,85,87,84,0,...,0,0,0,0,0,0,0,0,0,0
21,Evelyn,0,81,84,87,83,85,82,85,0,...,0,0,0,0,0,0,0,0,0,0
22,Ryan,1,86,89,91,87,84,86,88,0,...,0,0,0,0,0,0,0,0,0,0
23,Sarah,0,92,94,99,93,92,96,91,0,...,0,0,0,0,0,1,0,0,0,0
24,Eric,1,84,87,91,89,86,88,85,0,...,0,0,0,0,0,0,0,0,0,0
25,Linda,0,80,83,86,82,84,81,84,0,...,0,0,0,0,0,0,0,0,0,0
26,Steven,1,87,90,92,88,85,87,89,0,...,0,0,0,0,0,0,0,0,0,0
27,Mary,0,93,95,100,94,93,97,92,0,...,0,0,0,0,0,0,1,0,0,0
28,Kevin,1,85,88,92,90,87,89,86,0,...,0,0,0,0,0,0,0,0,0,0
29,Patricia,0,79,82,85,81,83,80,83,0,...,0,0,0,0,0,0,0,0,0,0
30,Brian,1,88,91,93,89,86,88,90,0,...,0,0,0,0,0,0,0,0,0,0
31,Barbara,0,94,96,99,95,94,98,93,0,...,0,0,0,0,0,0,0,1,0,0
32,George,1,86,89,93,91,88,90,87,0,...,0,0,0,0,0,0,0,0,0,0
33,Elizabeth,0,78,81,84,80,82,79,82,0,...,0,0,0,0,0,0,0,0,0,0
34,Suresh,1,89,92,94,90,87,89,91,0,...,0,0,0,0,0,0,0,0,0,0
35,Jessica,0,95,97,98,96,95,99,94,0,...,0,0,0,0,0,0,0,0,1,0
36,Ramesh,1,87,90,94,92,89,91,88,0,...,1,0,0,0,0,0,0,0,0,0
37,Jennifer,0,77,80,83,79,81,78,81,0,...,0,0,0,0,0,0,0,0,0,0
38,Christopher,1,90,93,95,91,88,90,92,0,...,0,0,0,0,0,0,0,0,0,0
39,Abigail,0,96,98,97,97,96,100,95,0,...,0,0,0,0,0,0,0,0,0,1
40,Richard,1,88,91,95,93,90,92,89,0,...,0,1,0,0,0,0,0,0,0,0
41,Rachel,0,76,79,82,78,80,77,80,0,...,0,0,0,0,0,0,0,0,0,0
42,Timothy,1,91,94,96,92,89,91,93,0,...,0,0,0,0,0,0,0,0,0,0
43,Victoria,0,95,97,96,96,95,99,94,0,...,0,0,0,0,0,0,0,0,1,0
44,Charles,1,89,92,96,94,91,93,90,0,...,0,0,1,0,0,0,0,0,0,0
45,Catherine,0,75,78,81,77,79,76,79,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df.describe()

,Gender,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,0.500000,87.456522,85.260870,88.065217,91.239130,87.782609,86.434783,87.478261,86.913043
std,0.505525,6.087169,5.397262,5.039410,4.899818,4.952723,4.415388,6.288399,4.004587
min,0.000000,77.000000,75.000000,78.000000,81.000000,77.000000,79.000000,76.000000,79.000000
25%,0.000000,83.000000,81.250000,84.250000,88.000000,84.250000,83.000000,83.000000,84.000000
50%,0.500000,86.500000,85.000000,88.000000,91.000000,88.000000,86.000000,87.000000,87.000000
75%,1.000000,91.750000,89.000000,91.750000,95.000000,91.000000,89.000000,91.750000,89.750000
max,1.000000,100.000000,96.000000,98.000000,100.000000,97.000000,96.000000,100.000000,95.000000

In [42]:
df.rename(columns={'Maths': 'Maths Marks', 'Physics': 'Physics Marks',  'English': 'English Score'}, inplace=True)

In [43]:
df

,Name,Gender,Maths Marks,Physics Marks,Chemistry,English Score,Biology,Economics,History,Civics
0,John,1,85,76,82,87,91,82,79,85
1,Sophia,0,92,88,90,95,89,88,92,87
2,William,1,78,82,85,88,84,79,81,83
3,Emma,0,91,87,89,94,88,90,87,89
4,Michael,1,83,79,81,85,82,84,80,82
5,Olivia,0,89,85,88,91,87,86,89,85
6,James,1,77,81,84,86,83,80,82,84
7,Ava,0,90,86,89,93,88,87,90,86
8,David,1,84,80,83,87,85,82,84,81
9,Isabella,0,88,84,87,90,86,88,85,88
10,Robert,1,79,83,86,88,84,81,83,85
11,Mia,0,93,89,91,96,90,89,93,88
12,Thomas,1,86,82,85,89,87,83,86,83
13,Charlotte,0,87,83,86,89,85,87,84,87
14,Joseph,1,80,84,87,89,85,82,84,86
15,Amelia,0,94,90,92,97,91,90,94,89
16,Daniel,1,85,81,84,88,86,84,85,82
17,Emily,0,86,82,85,88,84,86,83,86
18,Matthew,1,81,85,88,90,86,83,85,87
19,Harper,0,95,91,93,98,92,91,95,90
20,Andrew,1,87,83,86,90,88,85,87,84
21,Evelyn,0,85,81,84,87,83,85,82,85
22,Ryan,1,82,86,89,91,87,84,86,88
23,Sarah,0,96,92,94,99,93,92,96,91
24,Eric,1,88,84,87,91,89,86,88,85
25,Linda,0,84,80,83,86,82,84,81,84
26,Steven,1,83,87,90,92,88,85,87,89
27,Mary,0,97,93,95,100,94,93,97,92
28,Kevin,1,89,85,88,92,90,87,89,86
29,Patricia,0,83,79,82,85,81,83,80,83
30,Brian,1,84,88,91,93,89,86,88,90
31,Barbara,0,98,94,96,99,95,94,98,93
32,George,1,90,86,89,93,91,88,90,87
33,Elizabeth,0,82,78,81,84,80,82,79,82
34,Suresh,1,85,89,92,94,90,87,89,91
35,Jessica,0,99,95,97,98,96,95,99,94
36,Ramesh,1,91,87,90,94,92,89,91,88
37,Jennifer,0,81,77,80,83,79,81,78,81
38,Christopher,1,86,90,93,95,91,88,90,92
39,Abigail,0,100,96,98,97,97,96,100,95
40,Richard,1,92,88,91,95,93,90,92,89
41,Rachel,0,80,76,79,82,78,80,77,80
42,Timothy,1,87,91,94,96,92,89,91,93
43,Victoria,0,99,95,97,96,96,95,99,94
44,Charles,1,93,89,92,96,94,91,93,90
45,Catherine,0,79,75,78,81,77,79,76,79